/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .zwp-modal {
   position: fixed;
   width: 100vw;
   height: 100vh;
   background: transparent;
   z-index: 99999;
   top: 0;
   left: 0;
 }

 .zwp-modal-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.zwp-modal-content {
  max-width: 600px;
  width: calc(100vw - 60px);
  max-height: 600px;
  height: calc(100vh - 120px);
  overflow: auto;
  padding: 0 30px;
  background: #fff;
  border-radius: 6px;
  border-top: 30px solid #fff;
  border-bottom: 30px solid #fff;
  box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
  position: relative;
}

.zwp-modal-close-button {
  width: 30px;
  height: 30px;
  position: fixed;
  margin-top: -25px;
  margin-left: -25px;
}